data
validation/_gnss
validation/*/*/navigation
validation/*/*/pcap
validation/*/*/pointcloud
validation/*/*/video
validation/*/results/*/*/*.laz
validation/*/results/*/*/*.pcd
validation/*/*/*.txt
__pycache__
.vscode